@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Rocher";
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

@font-face {
  font-family: "BNazanin";
  src: url("/fonts/B Nazanin Bold_0.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "iran";
  src: url("/public/fonts/iransharp_bold_web.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "iran";
  src: url("/public/fonts/iransharp_regular_web.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* :root {
  --background: #ffffff;
  --foreground: #171717;

} */

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #f4f5f7;
    /* background: linear-gradient(to right, #040407, #06090f, #000000);  */
  }
}
.shadow_img {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
} /* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

@layer components {
  .content {
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .title {
    /* position: absolute; */
    color: #fff;
    /* padding-bottom: 170px; */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  .big {
    font-weight: bold;
    /* font-size: 280px; */
    z-index: -1;
    position: relative;
  }

  .big span {
    display: inline-block;
  }

  .small {
    position: absolute;
    font-size: 50px;
    font-family: "Kaushan Script";
    top: -10%;
    left: -10px;
  }

  .menu {
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 10;
    font-size: 18px;
    color: #fff;
    height: 40px;
    width: 40px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    border: 1px solid #fff;
  }
}
/*  
*/

.image {
  position: relative;
  width: 100%;
  height: 24rem; /* 384px */
}

@media (min-width: 768px) {
  .image {
    height: 50vh; /* 50% از ارتفاع viewport */
  }
}

@media (min-width: 1024px) {
  .image {
    height: 66.67vh; /* 66.67% از ارتفاع viewport */
  }
}

.content .title,
.content2 .title,
.content3 .title {
  font-family: "BNazanin", sans-serif;
  font-weight: bold;
}

.text_bold {
  font-family: "iran", "sans-serif";
  font-weight: bold;
}
.text_normal {
  font-family: "iran", "sans-serif";
  font-weight: normal;
}
.text_light {
  font-family: "iran", "sans-serif";
  font-weight: lighter;
}

.table .list {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.table .list::-webkit-scrollbar {
  display: none;
}
